.container {
  border-bottom: 1px solid #bbb;
  padding-top: 0.75rem;
}

.category {
  margin-bottom: 0;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}

.description {
  font-weight: 400;
  margin: 0 0 0.5rem 0;
}
