.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4rem auto 0;
}

.iconLink {
  margin-right:0.5rem;
}

.icon {
  margin-right:0.5rem;
}

.icon:hover {
  color: rgb(23, 201, 100);

  transition: all 0.15s ease-in-out;
}

.projectImageDesktop {
  @media (max-width: 768px) {
    display: none;
  }
}

.projectImageMobile {
  border-radius: 0.5rem;
  display: none;
  margin: 1rem 0;
  @media (max-width: 768px) {
    width: 100%;
    display: block;
  }
}

.projectSubtitle {
  padding-top: 0.5rem;
  height: 3rem;
  display: flex;
  flex-wrap: wrap;

  .subtitleText {
    margin-right: 1rem !important; // set as important due to unknown styling conflict.
  }
 
}

.tag {
  background-color: rgb(164, 164, 164);
  line-height: 1.3;
  border-radius: 0.5rem;
  padding: 0.15rem 0.4rem;
  color: black;
  height: 2rem;
  // margin-left: 0.5rem !important;
}